<h1>My Blargh</h1>

<div class="new-post" width="40">
  <p><b>New Blog Post</b></p>
  <p>
    {{textarea value=title cols="61" rows="1" placeholder="Title"}}
  </p>
  <p>
    {{textarea value=author cols="61" rows="1" placeholder="Author"}}
  </p>
  <p>
    {{textarea value=date cols="61" rows="1" placeholder="MM/DD/YYYY"}}
  </p>
  <p>
    {{textarea value=body cols="61" rows="5" placeholder="Body"}}
  </p>
  <p>
    <button class="pull-right" {{action 'createItem'}}>Create</button>
  </p>
</div>

{{#each model as |post|}}
  <div class="post" width="40">
    <p>
      <b>{{post.title}}</b>
    </p>
    <p>
      Author: {{post.author}}
    </p>
    <p>
      Date: {{moment-format post.date 'L'}}
    </p>
    <p>
      {{markdown-to-html post.body}}
    </p>
    <button class="pull-right" {{action 'destroyItem' post}}>Delete Post</button>
  </div>
{{/each}}
